.button {
    background-color: #F00;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 15px;
}

.button:active {
    background-color: #000;
    color: white;
}
